*{
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.plans-section {
  padding: 4rem 6rem;
  background: #ffffff;
  text-align: center;
}

.plans-section h2 {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.plans-section h2 span {
  background: linear-gradient(to right, #7f00ff, #e100ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plans-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.plan-card {
  flex: 1 1 calc(25% - 2rem); 
  max-width: 280px;
  min-width: 240px;
  background: #fff;
  color: black;
  border-radius: 20px;
  padding: 2rem 1.5rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .plan-card {
    flex: 1 1 calc(50% - 2rem); 
  }
}

@media (max-width: 600px) {
  .plan-card {
    flex: 1 1 100%; 
  }
}


.plan-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 12px 30px rgba(0, 0, 255, 0.2);
  border: 1px solid #7f00ff;
  background-color: rgb(170, 112, 224);
  color: white;
  .tick {
    color: #ffffff;
  }
  .desc{
    color: white;
  }
}

.plan-card.popular {
  background: unset;
  color: unset;
}

.plan-card .tag {
  position: absolute;
  top: -12px;
  right: -12px;
  background: #00d2ff;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: bold;
}

.price {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.type {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.plan-card .desc{
  color: black;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.features {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  width: 100%;
}

.features li {
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* color: #333; */
}

.tick {
  color: #7f00ff;
}

.choose-btn {
  background: #fdfae3;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.choose-btn:hover {
  background: #fcf8de;
}
