.launch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
    background: #ffffff;
  }
  
  .launch-left {
    flex: 1;
  }
  
  .launch-left h1 {
    font-size: 48px;
    color: #000;
  }
  
  .launch-left h1 span {
    color: #6c3df3;
  }
  
  .launch-left p {
    font-size: 16px;
    margin: 20px 0;
    color: #444;
    max-width: 480px;
  }
  
  .launch-left button {
    background-color: #c4f042;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .launch-right {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .launch-right img {
    max-width: 100%;
    width: 850px;
    height: 600px;
    border-radius: 20px;
  }
  